.reference-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	// background-color: #8bc34a;

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__row > :only-child {
		margin: 0 auto;
	}

	&__thai, &__english, &__romanised {
		font-size: 16px;
	}

	&__symbol {
		color: yellow;
		font-size: 50px;
		margin-right: 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__badge {
		border-radius: 8px;
		padding: 4px 10px;
		margin-left: 5px;

		&--low {
			background-color: #EEFF41;
		}

		&--mid {
			background-color: #FFD740;
		}

		&--high {
			background-color: #69F0AE;
		}
	}
}